// Dashboard.scss
$bg-color: #1A92D3;
$text-color: white;
$hover-color: #F0B429;

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: $bg-color;
  color: $text-color;
  padding: 0 20px;

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__nav-links {
    display: grid;
    gap: 10px;
    list-style-type: none;
    text-align: left;
    padding-left: 10px;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 800;

    &:hover {
      text-decoration: underline $hover-color;
      text-underline-offset: 4px;
      cursor: pointer;
    }
  }


}
